.about-us h2{
    text-align: center;
    font-weight: bold;
    color: #9baf7d;
}

.about-us{
    display: flex;
    flex-direction: row;
}

.content{
    flex: 1;
}

.content h3{
    color: #b3ca90;
    font-weight: bold;
}

.image{
    width: 200px;
    margin-right: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 20px;
  }
  
  .image-container img {
    width: 100%; 
  }