
  
  .main-title {
    text-align: center;
    font-weight: bold;
    color: #9baf7d;
  }
  
  .section {
    margin-top: 20px;
  }
  
  .section h3{
    color: #b3ca90;
    font-weight: bold;
  }
  