.footer{
    background-color: #d9d7b9;
    padding: 50px;
    font-family: "Muli",sans-serif;
    border-top: 2px solid rgb(206 232 166); 
}


.social-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #708c70;
  }

ul {
    list-style-type: none; 
    padding: 0;
   
}

ul li a{
    color: #212529;
    text-decoration: none;

}


